
.additemview {
    /* padding-left: 75px; */
    padding-bottom: 20px;
    /* margin-bottom: 45px; */
    margin-bottom: 15px;
}


.additemview {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--border-color);
}

.additemview input[type='text'] {
    width: 400px;
}
