
.item {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #00000000;
}


.item .name {
    flex-basis: 100%;
}

.expire_warning .name *, .expire_warning .expiry_display * {
    color: orange !important;
}

.expired .name *, .expired .expiry_display * {
    color: red !important;
}

.expired .name p::before {
    content: '[Expired] ';
}


.item .action {
    visibility: hidden;
    white-space: nowrap;
}

.item:hover .action, .selected .action, .item:focus-within .action {
    visibility: visible;
}

 {
    visibility: visible;
}

.item .expiry_display {
    visibility: hidden;
    white-space: nowrap;
}

.show_expiry .expiry_display,
.item:hover .expiry_display,
.selected .expiry_display,
.item:focus-within .expiry_display {
    visibility: visible;
}


.item .cartbtn {
    --button-padding: 6px 6px;
}
.item .cartbtn svg {
    width: 14px;
    height: 14px;
}
