
.item {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #00000000;
}


.item .name {
    flex-basis: 100%;
}

.expire_warning .name * {
    color: orange !important;
}

.expired .name * {
    color: red !important;
}

.expired .name p::before {
    content: '[Expired] ';
}


.item .action {
    visibility: hidden;
    white-space: nowrap;
}
.item:hover .action {
    visibility: visible;
}

.item:focus-within .action {
    visibility: visible;
}


.item .cartbtn {
    --button-padding: 6px 6px;
}
.item .cartbtn svg {
    width: 14px;
    height: 14px;
}
