
.additemview {
    /* padding-left: 75px; */
    padding-bottom: 20px;
    /* margin-bottom: 45px; */
    margin-bottom: 15px;
}


.additemview {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--border-color);
}

.additemview p {
    margin: 4px 0px;
}


.additemview input[type='text'] {
    padding: 4px 4px;
    width: 500px;
}

.additemview .countbtn {
    width: 32px;
}
