@font-face {
    font-family: 'IBM Plex Mono';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url('IBMPlexMono-Regular.ttf');
}



*, *::before, *::after {
    box-sizing: border-box;
}



/* html *:focus-visible { */
/*     outline: 1px solid var(--color-red); */
/*     outline-offset: 4px; */
/* } */


:root {
    --background: #111115;
    --text-color: #97a0a6;
    --text-faded-color: #353639;
    --text-bright-color: #d5d5d5;
    --border-color: #353644;
    --slider-color: #0b0b13;
    --slider-bg: #989daa;
    --button-active: #989daa;
    --button-inactive: #0b0b13;

    --button-padding: 4px 8px;
    --font-family: 'IBM Plex Mono', monospace;
}


html {
    font-size: 16px;
    color: var(--text-color);
    background: var(--background);
    font-family: var(--font-family);
}


html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    padding: var(--button-padding);
    border: 1px solid var(--border-color);
    background: var(--button-inactive);
}

button:hover {
    border: 1px solid var(--button-inactive);
    background: var(--button-active);
    color: var(--button-inactive);
}

input[type="text"] {
    border: 1px solid var(--border-color);
    background-color: var(--slider-bg);
    /* color: var(--button-inactive); */
    color: var(--background);
}

input[type="radio"] {
    appearance: none;
    background-color: var(--slider-bg);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1em;

    height: 1em;
    border: 1px solid currentColor;
    border-radius: 50%;

    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--slider-color);
}

input[type="radio"]:checked::before {
    transform: scale(1.4);
}

label {
    white-space: nowrap;
}

.iconbtn {
    --button-padding: 8px 8px;
    height: 28px;
    width: 28px;
}

.iconbtn svg {
    width: 10px;
    height: 10px;
    display: block;
}

.iconbtn svg path {
    fill: var(--text-color);
}

.iconbtn:hover svg path {
    fill: var(--button-inactive);
}

